.fab-button {
  position: fixed;
  bottom: 95px;
  right: 20px;
  z-index: 1050;
  width: 60px;
  height: 60px;
  font-size: 32px;
  border-radius: 50%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  text-decoration: none;
  color: white;
}
.post-title:hover {
  text-decoration: none;
  color: #0085A1;
}
.post-preview > .post-title {
  font-size: 1.875rem;
  margin-top: 1.875rem;
  margin-bottom: 0.625rem;
}

.post-preview > .post-meta {
  font-size: 1.125rem;
  font-style: italic;
  margin-top: 0;
  color: #6c757d;
}
.post-meta{
  padding-top: 20px;
}

